Makefile
sqlitebrowser.pro.user
CMakeLists.txt.user
CMakeFiles
*.cmake
*.cxx_parameters

# ignore any build folders
build*/
# folder with temporary test data
testdata/

src/.ui/
src/sqlitebrowser
src/Makefile*
src/debug
src/release
src/gen_version.h

# ignore compiled translation files
src/translations/*.qm

# no one needs the txt file
src/grammar/sqlite3TokenTypes.txt

libs/*/Makefile*
libs/*/*/Makefile*
libs/*/debug/
libs/*/*/debug/
libs/*/release/
libs/*/*/release/
libs/*/*.a
libs/*/*/*.a

# Ignore .DS_Store files on OSX
.DS_Store
