Makefile
sqlitebrowser.pro.user
CMakeLists.txt.user

# ignore any build folders
build*/

src/.ui/
src/sqlitebrowser
src/Makefile*
src/debug
src/release
src/gen_version.h

libs/*/Makefile*
libs/*/debug/
libs/*/release/
libs/*/*.a
