[Desktop Entry]
Name=SQLiteBrowser
Comment=SQLiteBrowser is a light GUI editor for SQLite databases
Comment[de]=SQLiteBrowser ist ein GUI-Editor für SQLite-Datenbanken
Exec=sqlitebrowser %f
Icon=/usr/share/sqlitebrowser/sqlitebrowser.svg
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;Utility;Database;
MimeType=application/sqlitebrowser;application/x-sqlitebrowser;application/x-sqlite2;application/x-sqlite3;
