// ---------------------------------------------------------------------------
//
//    WARNING! File created programmatically. All changes made in this file will be lost!
//
//    Created by the qtsass compiler v0.3.0
//
//    The definitions are in the "qdarkstyle.palette" module
//
//----------------------------------------------------------------------------
$ID: 'light';
$COLOR_BACKGROUND_6: #ACB1B6;
$COLOR_BACKGROUND_5: #B9BDC1;
$COLOR_BACKGROUND_4: #C9CDD0;
$COLOR_BACKGROUND_2: #E0E1E3;
$COLOR_BACKGROUND_3: #CED1D4;
$COLOR_BACKGROUND_1: #FAFAFA;
$COLOR_TEXT_1: #19232D;
$COLOR_TEXT_2: #293544;
$COLOR_TEXT_3: #54687A;
$COLOR_TEXT_4: #788D9C;
$COLOR_ACCENT_1: #DAEDFF;
$COLOR_ACCENT_2: #9FCBFF;
$COLOR_ACCENT_3: #73C7FF;
$COLOR_ACCENT_4: #37AEFE;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_1: 1px solid $COLOR_BACKGROUND_1;
$BORDER_2: 1px solid $COLOR_BACKGROUND_4;
$BORDER_3: 1px solid $COLOR_BACKGROUND_6;
$BORDER_SELECTION_3: 1px solid $COLOR_ACCENT_3;
$BORDER_SELECTION_2: 1px solid $COLOR_ACCENT_2;
$BORDER_SELECTION_1: 1px solid $COLOR_ACCENT_1;
$PATH_RESOURCES: ':/qss_icons';
