<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="ShortcutsDialog" Width="370" Height="270" Title="!(loc.ShortcutsDialog_Name)">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ShortcutsDialog_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ShortcutsDialog_Description)" />
                <Control Id="Info" Type="Text" X="25" Y="55" Width="320" Height="110" Text="!(loc.ShortcutsDialog_Info)" />

                <Control Id="SQLiteLabel" Type="Text" X="65" Y="175" Width="120" Height="10" Text="!(loc.ShortcutsDialog_SQLiteLabel)" />
                <Control Id="SQLCipherLabel" Type="Text" X="205" Y="175" Width="120" Height="10" Text="!(loc.ShortcutsDialog_SQLCipherLabel)" />

                <Control Id="SQLiteDesktopCheckbox" Type="CheckBox" X="65" Y="190" Width="65" Height="10" CheckBoxValue="1" Property="SHORTCUT_SQLITE_DESKTOP" Text="!(loc.ShortcutsDialog_Desktop)" />
                <Control Id="SQLiteProgramMenyCheckbox" Type="CheckBox" X="65" Y="205" Width="65" Height="10" CheckBoxValue="1" Property="SHORTCUT_SQLITE_PROGRAMMENU" Text="!(loc.ShortcutsDialog_ProgramMenu)" />
                <Control Id="SQLCipherDesktopCheckbox" Type="CheckBox" X="205" Y="190" Width="65" Height="10" CheckBoxValue="1" Property="SHORTCUT_SQLCIPHER_DESKTOP" Text="!(loc.ShortcutsDialog_Desktop)" />
                <Control Id="SQLCipherProgramMenyCheckbox" Type="CheckBox" X="205" Y="205" Width="65" Height="10" CheckBoxValue="1" Property="SHORTCUT_SQLCIPHER_PROGRAMMENU" Text="!(loc.ShortcutsDialog_ProgramMenu)"/>

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="CustomizeDlg">1</Publish>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
