// ---------------------------------------------------------------------------
//
//    WARNING! File created programmatically. All changes made in this file will be lost!
//
//    Created by the qtsass compiler v0.3.0
//
//    The definitions are in the "qdarkstyle.palette" module
//
//----------------------------------------------------------------------------
$ID: 'dark';
$COLOR_BACKGROUND_6: #60798B;
$COLOR_BACKGROUND_5: #54687A;
$COLOR_BACKGROUND_4: #455364;
$COLOR_BACKGROUND_2: #293544;
$COLOR_BACKGROUND_3: #37414F;
$COLOR_BACKGROUND_1: #19232D;
$COLOR_TEXT_1: #E0E1E3;
$COLOR_TEXT_2: #C9CDD0;
$COLOR_TEXT_3: #ACB1B6;
$COLOR_TEXT_4: #9DA9B5;
$COLOR_ACCENT_1: #26486B;
$COLOR_ACCENT_2: #346792;
$COLOR_ACCENT_3: #1A72BB;
$COLOR_ACCENT_4: #259AE9;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_1: 1px solid $COLOR_BACKGROUND_1;
$BORDER_2: 1px solid $COLOR_BACKGROUND_4;
$BORDER_3: 1px solid $COLOR_BACKGROUND_6;
$BORDER_SELECTION_3: 1px solid $COLOR_ACCENT_3;
$BORDER_SELECTION_2: 1px solid $COLOR_ACCENT_2;
$BORDER_SELECTION_1: 1px solid $COLOR_ACCENT_1;
$PATH_RESOURCES: ':/qss_icons';
