name: Build - macOS

on:
  workflow_call:
    inputs:
      NIGHTLY:
        default: false
        type: boolean

jobs:
  build:
    name: ${{ matrix.os }} - SQLCipher ${{ matrix.sqlcipher }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13-runner]
        sqlcipher: ["0", "1"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure build
        run: |
          if [ "${{ inputs.NIGHTLY }}" = "true" ]; then
            if [ "${{ matrix.sqlcipher }}" = "1" ]; then
                sed -i "" 's/"DB Browser for SQLite"/"DB Browser for SQLCipher Nightly"/' CMakeLists.txt
            else
                sed -i "" 's/"DB Browser for SQLite"/"DB Browser for SQLite Nightly"/' CMakeLists.txt
            fi
          else
            if [ "${{ matrix.sqlcipher }}" = "1" ]; then
                sed -i "" 's/"DB Browser for SQLite"/"DB Browser for SQLCipher-dev-'$(git rev-parse --short --verify HEAD)'"/' CMakeLists.txt
            else
                sed -i "" 's/"DB Browser for SQLite"/"DB Browser for SQLite-dev-'$(git rev-parse --short --verify HEAD)'"/' CMakeLists.txt
            fi
          fi

          mkdir build && cd build
          cmake -G Ninja -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" -DcustomTap=1 -DENABLE_TESTING=ON -Dsqlcipher=${{ matrix.sqlcipher }} ..

      - name: Build
        working-directory: ./build
        run: ninja

      - name: Tests
        working-directory: ./build
        run: ninja test

      - name: Build Extension
        run: clang -I /opt/homebrew/opt/db4subsqlitefts@5/include -L /opt/homebrew/opt/db4subsqlitefts@5/lib -fno-common -dynamiclib src/extensions/extension-formats.c

      - if: github.event_name != 'pull_request'
        name: Notarize the app
        uses: ./.github/actions/notarize-macos
        with:
          APPLE_ID: ${{ secrets.MACOS_CODESIGN_APPLE_ID }}
          APPLE_PW: ${{ secrets.MACOS_CODESIGN_APPLE_PW }}
          DEV_ID: ${{ secrets.MACOS_CODESIGN_DEV_ID }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KEYCHAIN_PATH: ${{ secrets.MACOS_CODESIGN_KEYCHAIN_PATH }}
          KEYCHAIN_PW: ${{ secrets.MACOS_CODESIGN_KEYCHAIN_PW }}
          NIGHTLY: ${{ inputs.NIGHTLY }}
          SQLCIPHER: ${{ matrix.sqlcipher }}
          TEAM_ID: ${{ secrets.MACOS_CODESIGN_TEAM_ID }}

      - if: github.event_name != 'pull_request'
        name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ matrix.os }}-${{ matrix.sqlcipher }}
          path: DB.Browser.for.*.dmg
          retention-days: 1
